/******General***********/
* {
    font-family: "Raleway", sans-serif;
}

p {
    position: relative;
    top: -10px;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --blocks-bg-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

body,
ul {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 19px 0px;
}

.logo {
    order: 1;
}

.logo img {
    height: 19px;
    width: 61.09px;
}

nav {
    order: 2;
}

ul {
    list-style: none;
}

li {
    display: inline;
    margin-left: 68px;
}

body {
    display: flex;
    justify-content: center;
    max-width: 100% !important;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
    /* gap: 68px; */
}

header a {
    padding-top: 19px;
}

header a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0;
    background: #0065fc;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

header a:hover {
    color: #0065fc;
}

header a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.segment {
    border-radius: 20px;
    padding: 10px;
    display: flex;
}
.filter-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
}

.filter-text {
    display: flex;
    align-items: center;
    gap: 15px;
}
h2 {
    margin: 0;
}

.availability-container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.icon-style {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 1px solid var(--blocks-bg-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.availability-text {
    font-size: 17px;
    line-height: 20px;
}

.button-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.filter-button {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid var(--blocks-bg-color);
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
    border-color: var(--blocks-bg-color);
}

.search-icon {
    display: flex;
    background-color: var(--main-bg-color);
    color: black;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 50px;
}

.search-bar-container {
    display: flex;
    width: 377px;
    align-items: center;
    padding: 35px 0;
}

.search-input {
    flex-grow: 1;
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid var(--main-bg-color);
    padding: 0;
    height: 48px;
    width: 100px;
}

.search-button {
    display: flex;
    border: none;
    background-color: #0065fc; /* Adjust the color to match your design */
    color: white;
    border-radius: 0px 15px 15px 0px; /* Adjust if you want the button to be fully rounded */
    /* padding: 10px 20px; */
    font-size: 17px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
    width: 132px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.search-button:hover {
    background-color: #0056cc; /* A darker shade when hovered */
}

.mobile-icon {
    display: none; /* Hide on mobile by default */
}

.desktop-text {
    display: flex; /* Show text on mobile */
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 66%;
    display: flex;
    flex-direction: column;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-title h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.grid-container a {
    width: 31%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 33px;
}

.hebergements-cards img {
    width: 100%;
    height: 114px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards h2,
p {
    padding-top: 8px;
}
.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    font-weight: 400;
}

.hebergements-cards .card-rating {
    margin-bottom: 10px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activities {
    display: flex;
    gap: 30px;
    padding-bottom: 35px;
}

/* .activities article {
    flex-direction: column;
} */

/* Styles activities images */
.activities article img {
    width: 100%;
    object-fit: cover;
    height: 380px;
}

.activities article {
    margin-bottom: 30px;
    box-shadow: 0px 3px 15px 0px #0000001a;
    border-radius: 20px;
    width: 25%;
    overflow: hidden;
}

/* Styles activities titles articles */
.activities article h3 {
    font-weight: 700;
    line-height: 18.78px;
    font-size: 16px;
    margin: 20px;
}

/* Styles activities title section */
.activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities-title h2 {
    margin-top: 80px;
    margin-bottom: 30px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between; /* Distributes the space evenly between elements */
    align-items: flex-start; /* Aligns items to the start of the flex container */
    padding: 20px; /* Adjust as needed */
    background-color: var(--main-bg-color); /* Assuming a white background */
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns the content to the left */
    width: 33%;
}

footer h3 {
    margin-bottom: 10px; /* Adds some space below the footer headings */
    margin-top: 0;
    font-size: 18px; /* Adjust as needed */
}

footer p {
    font-size: 16px; /* Adjust as needed */
    margin: 2px 0; /* Adds a small margin on the top and bottom for spacing */
}
/* Le code ci-dessous correspond à la version responsive uniquement */

@media (max-width: 1024px) {
    .logo,
    nav {
        order: 0;
    }

    .hebergements-and-populaires {
        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    nav ul li {
        margin-left: 40px;
        height: 100%;
    }
    .filter-text {
        display: block;
    }
    .filter-text h2 {
        padding-bottom: 20px;
    }
    .filter-button {
        display: flex;
    }

    .hebergements,
    .populaires {
        width: 100%;
    }

    .populaires-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    /* .grid-container a {
        width: 48%;
    } */

    /* .populaires-cards a {
        width: 48%;
    } */

    /* .activities article {
        width: 48%;
    } */

    /* .search-bar-container {
        flex-direction: column;
        width: auto;
    }

    .search-input {
        text-align: left;
        margin-top: 10px;
    } */

    .activities article img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767px) {
    * {
        box-sizing: border-box;
    }
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    nav ul li {
        margin: 0;
    }

    nav {
        width: 100%;
    }

    ul {
        display: flex;
    }

    li {
        border-bottom: 2px solid var(--main-bg-color);
        width: 100%;
        padding: 15px;
    }

    nav li:hover {
        border-bottom: 2px solid blue;
    }

    nav li:hover a {
        color: blue;
    }

    nav a::before {
        display: none;
    }

    /* nav a::after {
        content: "";
        position: absolute;
        left: -50px;
        right: -50px;
        bottom: -16px;
        height: 2px;
        background-color: transparent;
        transition: background-color 0.3s;
    } */

    /* nav a:hover::after,
    nav a:focus::after {
        background-color: var(--main-color);
    } */

    .main-container {
        padding: 0;
        overflow: hidden;
    }
    .logo img {
        margin-bottom: 10px;
    }

    .search-bar-container {
        flex-direction: row;
        align-items: center;
        padding: 20px;
        width: 100%;
    }

    .populaires-cards {
        display: flex;
        flex-wrap: wrap;
        gap: 0;
    }

    .mobile-icon {
        display: flex;
    }

    .desktop-text {
        display: none;
    }
    .search-button {
        /* display: flex; */
        border: 1px solid #0065fc;
        /* background-color: #0065fc; */
        /* color: white; */
        border-radius: 15px;
        /* font-size: 17px; */
        /* cursor: pointer; */
        /* transition: background-color 0.3s; */
        width: 50px;
        /* height: 50px; */
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        /* align-items: center; */
        /* justify-content: center; */
        margin-left: -15px;
    }
    .filter-text {
        padding: 0 20px;
        display: block;
        width: 100%;
    }
    .availability-container {
        padding: 20px;
    }
    .availability-text {
        font-size: 16px;
    }
    .mobile {
        padding: 20px;
    }
    .button-row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 0;
        gap: 0;
        row-gap: 20px;
    }

    .filter-button {
        font-size: 14px;
        padding: 8px 16px;
        width: 48%;
        min-width: 138px;
        text-align: center;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires section {
        border-radius: 0px;
    }

    section.hebergements {
        background-color: transparent;
    }

    .grid-container a,
    .populaires-cards a {
        width: 100%;
    }

    .hebergements-cards img {
        height: 124px;
    }
    .activities-title {
        padding-left: 30px;
    }
    .activities {
        display: flex;
        flex-direction: column;
        padding: 30px;
    }

    .activities article {
        width: 100%;
    }

    .activities article img {
        height: 141px;
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .box {
        width: 100%;
        padding: 30px 0 30px 30px;
        gap: 15px;
    }
}
