/****** General ***********/

* {
    font-family: "Raleway", sans-serif;
}

p {
    position: relative;
    top: -10px;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
    --blocks-bg-color: #d9d9d9;
}

.fa-solid {
    color: var(--main-color);
}

body,
ul {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo {
    order: 1;
}

.logo img {
    height: 19px;
    width: 61.09px;
    padding: 30px 50px;
}

nav {
    order: 2;
}

ul {
    list-style: none;
    padding-bottom: 39px;
}

li {
    display: inline;
    margin-left: 68px;
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
    padding-top: 10px;
    gap: 68px;
}

header a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    top: -2px;
    left: 0;
    background: #0065fc;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}

header a:hover {
    color: #0065fc;
}

header a:hover::before {
    transform: scaleX(1);
    transform-origin: left;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

.segment {
    border-radius: 20px;
    padding: 10px;
    display: flex;
    align-items: left;
}
.filter-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 0;
}

.filter-text {
    display: flex;
    align-items: center;
    gap: 15px;
}
h2 {
    margin: 0;
}

.availability-container {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}

.icon-style {
    width: 24px;
    height: 24px;
    margin-right: 10px;
    border: 1px solid var(--blocks-bg-color);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.availability-text {
    font-size: 17px;
    line-height: 20px;
}

.button-row {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.filter-button {
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid var(--blocks-bg-color);
    background-color: transparent;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.filter-button:hover {
    background-color: var(--filter-bg-color);
    border-color: var(--blocks-bg-color);
}

.search-icon {
    display: flex;
    background-color: var(--blocks-bg-color);
    color: black;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 10px 20px;
}

.search-bar-container {
    display: flex;
    width: 377px;
    align-items: center;
    gap: 24px;
    padding: 35px 0;
}

.search-input {
    flex-grow: 1;
    border: none;
    outline: none;
    color: var(--Black, #000);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.search-button {
    display: flex;
    border: none;
    background-color: #0065fc; /* Adjust the color to match your design */
    color: white;
    border-radius: 0px 15px 15px 0px; /* Adjust if you want the button to be fully rounded */
    padding: 10px 20px;
    font-size: 17px; /* Adjust as needed */
    cursor: pointer;
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.search-button:hover {
    background-color: #0056cc; /* A darker shade when hovered */
}

/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/

.hebergements {
    width: 66%;
    display: flex;
    flex-direction: column;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-title h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.grid-container a {
    width: 31%;
}

.hebergements-cards .card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 15px;
}

.hebergements-cards img {
    width: 100%;
    height: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 0px;
}

.hebergements-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}
.hebergements-cards h2,
p {
    padding-top: 8px;
}
.hebergements-cards .card-title {
    margin-top: 5px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
    size: 14px;
    font-weight: 400;
}

.hebergements-cards .card-rating {
    margin-bottom: 10px;
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités ***********/

.activities {
    display: flex;
    gap: 30px;
    width: 100%;
}

/* .activities article {
    flex-direction: column;
} */

/* Styles activities images */
.activities article img {
    width: 100%;
    object-fit: cover;
    height: 380px;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.activities article {
    margin-bottom: 30px;
    box-shadow: 0px 3px 15px 0px #0000001a;
}

/* Styles activities titles articles */
.activities article h3 {
    font-weight: 700;
    line-height: 18.78px;
    size: 16px;
    margin-left: 20px;
}

/* Styles activities title section */
.activities-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.activities-title h2 {
    margin-top: 80px;
    margin-bottom: 30px;
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between; /* Distributes the space evenly between elements */
    align-items: flex-start; /* Aligns items to the start of the flex container */
    padding: 20px; /* Adjust as needed */
    background-color: var(--main-bg-color); /* Assuming a white background */
}

.box {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns the content to the left */
}

footer h3 {
    margin-bottom: 10px; /* Adds some space below the footer headings */
    font-size: 18px; /* Adjust as needed */
}

footer p {
    font-size: 16px; /* Adjust as needed */
    margin: 2px 0; /* Adds a small margin on the top and bottom for spacing */
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}
